node-red/flows.json
[{"id":"312b7dc1.f43f12","type":"tab","label":"Dom","disabled":false,"info":""},{"id":"91bc7223.0d8cf","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"2b528a50.a3c836","type":"tab","label":"Ogrzewanie/Klimatyzacja","disabled":false,"info":""},{"id":"b7fb1b88.e54408","type":"tab","label":"AGD","disabled":false,"info":""},{"id":"776189da.a78308","type":"tab","label":"Serwis","disabled":false,"info":""},{"id":"febbba89.b8db68","type":"server","z":"","name":"Home Assistant"},{"id":"d8fdfe27.b4905","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"babccda9.0aaba","type":"api-call-service","z":"91bc7223.0d8cf","name":"Aga","server":"febbba89.b8db68","service_domain":"notify","service":"aga","data":"{\"message\": \"Uwaga ktos jest w domu!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":180,"wires":[[]]},{"id":"a3b7efcd.2ec09","type":"api-call-service","z":"91bc7223.0d8cf","name":"Krzysiek","server":"febbba89.b8db68","service_domain":"notify","service":"krzysiek","data":"{\"message\": \"Uwaga ktos jest w domu!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":220,"wires":[[]]},{"id":"9376e915.6818c8","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Detektor","server":"febbba89.b8db68","version":1,"entityidfilter":"binary_sensor.fibaro_system_fgms001_zw5_motion_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":200,"wires":[["afc49f3e.5b3ea"]]},{"id":"afc49f3e.5b3ea","type":"api-current-state","z":"91bc7223.0d8cf","name":"Status alarmu","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[["babccda9.0aaba","a3b7efcd.2ec09"],[]]},{"id":"da0bebcd.98fb38","type":"api-call-service","z":"91bc7223.0d8cf","name":"Wylacz urzadzenia elektryczne","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"devices","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":280,"wires":[[]]},{"id":"41e58e28.bb04e","type":"api-current-state","z":"91bc7223.0d8cf","name":"Aga","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.aga","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":80,"wires":[["6c37586a.8b77b8"],[]]},{"id":"19292da2.a0d3f2","type":"api-current-state","z":"91bc7223.0d8cf","name":"Krzysiek","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.krzysiek","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":40,"wires":[["6c37586a.8b77b8"],[]]},{"id":"6c37586a.8b77b8","type":"api-call-service","z":"91bc7223.0d8cf","name":"Ustaw Alarm","server":"febbba89.b8db68","version":"1","service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.home_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":60,"wires":[[]]},{"id":"5d5c5a51.26cdb4","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Aga","server":"febbba89.b8db68","version":1,"entityidfilter":"person.aga","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":60,"wires":[["19292da2.a0d3f2"],["9e96485e.34e918"]]},{"id":"ed23f5b8.a4ba48","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Krzysek","server":"febbba89.b8db68","version":1,"entityidfilter":"person.krzysiek","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":100,"wires":[["41e58e28.bb04e"],["9e96485e.34e918"]]},{"id":"9e96485e.34e918","type":"api-call-service","z":"91bc7223.0d8cf","name":"Rozbroj Alarm","server":"febbba89.b8db68","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":120,"wires":[[]]},{"id":"7ef3fe9.65af","type":"server-state-changed","z":"b7fb1b88.e54408","name":"Pralka","server":"febbba89.b8db68","version":1,"entityidfilter":"sensor.shenzhen_neo_electronics_co_ltd_power_plug_12a_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":220,"wires":[["1d534cc7.a7bf63","da3fde0e.7bee7"]]},{"id":"1d534cc7.a7bf63","type":"function","z":"b7fb1b88.e54408","name":"logika","func":"var old_value = parseFloat(msg.data.old_state.state)\nvar new_value = parseFloat(msg.data.new_state.state)\nif (old_value > 5.0 & new_value < 3.0) {\n   return msg;\n}","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["2b244c64.053fd4","8e9cc7e.34c6038"]]},{"id":"2b244c64.053fd4","type":"api-call-service","z":"b7fb1b88.e54408","name":"Aga","server":"febbba89.b8db68","service_domain":"notify","service":"aga","data":"{\"message\": \"Koniec prania!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":180,"wires":[[]]},{"id":"8e9cc7e.34c6038","type":"api-call-service","z":"b7fb1b88.e54408","name":"Krzysiek","server":"febbba89.b8db68","service_domain":"notify","service":"krzysiek","data":"{\"message\": \"Koniec prania!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":220,"wires":[[]]},{"id":"b836f338.3e8ea","type":"function","z":"b7fb1b88.e54408","name":"logika","func":"var old_value = parseFloat(msg.data.old_state.state)\nvar new_value = parseFloat(msg.data.new_state.state)\nif (old_value > 5.5 & new_value < 5.5) {\n   return msg;\n}","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["2e0e868c.eb9caa"]]},{"id":"faf20e94.5fe12","type":"api-call-service","z":"b7fb1b88.e54408","name":"Aga","server":"febbba89.b8db68","service_domain":"notify","service":"aga","data":"{\"message\": \"Koniec suszenia!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":360,"wires":[["c475762.6785188"]]},{"id":"92f069a0.d67a48","type":"api-call-service","z":"b7fb1b88.e54408","name":"Krzysiek","server":"febbba89.b8db68","service_domain":"notify","service":"krzysiek","data":"{\"message\": \"Koniec suszenia!!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":400,"wires":[["c475762.6785188"]]},{"id":"2e0e868c.eb9caa","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wylacz suszarke","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shenzhen_neo_electronics_co_ltd_power_plug_12a_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":380,"wires":[["faf20e94.5fe12","92f069a0.d67a48"]]},{"id":"c475762.6785188","type":"delay","z":"b7fb1b88.e54408","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":360,"wires":[["b05a2b24.777da8"]]},{"id":"b05a2b24.777da8","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wlacz suszarke","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shenzhen_neo_electronics_co_ltd_power_plug_12a_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":360,"wires":[[]]},{"id":"2c70f321.af318c","type":"server-state-changed","z":"b7fb1b88.e54408","name":"Suszarka","server":"febbba89.b8db68","version":1,"entityidfilter":"sensor.shenzhen_neo_electronics_co_ltd_power_plug_12a_power_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":400,"wires":[["b836f338.3e8ea","130709a.5a77cf6"]]},{"id":"a2c0347e.328488","type":"switch","z":"b7fb1b88.e54408","name":"Czy pierze?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3.0","vt":"num"},{"t":"lt","v":"3.0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":280,"wires":[["e0c07277.bea23"],["79985687.563718"]]},{"id":"f0763efd.9d076","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wlacz informacje","server":"febbba89.b8db68","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.pralka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":240,"wires":[[]]},{"id":"ffca815a.f97af","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wylacz informacje","server":"febbba89.b8db68","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.pralka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":280,"wires":[[]]},{"id":"d4c665b7.20f578","type":"switch","z":"b7fb1b88.e54408","name":"Czy suszy?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5.5","vt":"num"},{"t":"lt","v":"5.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":460,"wires":[["e01e8ebb.f226"],["c46fa4ba.ab2a48"]]},{"id":"91b95575.d98ef8","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wlacz informacje","server":"febbba89.b8db68","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.suszarka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":420,"wires":[[]]},{"id":"dc24d732.db65f8","type":"api-call-service","z":"b7fb1b88.e54408","name":"Wylacz informacje","server":"febbba89.b8db68","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.suszarka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":460,"wires":[[]]},{"id":"130709a.5a77cf6","type":"change","z":"b7fb1b88.e54408","name":"Cast to int","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":460,"wires":[["d4c665b7.20f578"]]},{"id":"da3fde0e.7bee7","type":"change","z":"b7fb1b88.e54408","name":"Cast to int","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["a2c0347e.328488"]]},{"id":"e0c07277.bea23","type":"api-current-state","z":"b7fb1b88.e54408","name":"Jest wylaczony?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.pralka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":260,"wires":[["f0763efd.9d076"],[]]},{"id":"79985687.563718","type":"api-current-state","z":"b7fb1b88.e54408","name":"Jest wlaczony?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.pralka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":300,"wires":[["ffca815a.f97af"],[]]},{"id":"c46fa4ba.ab2a48","type":"api-current-state","z":"b7fb1b88.e54408","name":"Jest wlaczony?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.suszarka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":480,"wires":[["dc24d732.db65f8"],[]]},{"id":"e01e8ebb.f226","type":"api-current-state","z":"b7fb1b88.e54408","name":"Jest wylaczony?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.suszarka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":440,"wires":[["91b95575.d98ef8"],[]]},{"id":"d986f4a6.f77128","type":"inject","z":"776189da.a78308","name":"Wyczysc dane","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["9b5fe77f.112ba8"]]},{"id":"9b5fe77f.112ba8","type":"api-call-service","z":"776189da.a78308","name":"Wyczysc dane","server":"febbba89.b8db68","version":"1","service_domain":"recorder","service":"purge","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":60,"wires":[[]]},{"id":"d560532f.9d632","type":"inject","z":"776189da.a78308","name":"Restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * 1,5","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[[]]},{"id":"92d263ba.490f2","type":"api-call-service","z":"776189da.a78308","name":"Restart","server":"febbba89.b8db68","version":0,"service_domain":"homeassistant","service":"restart","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":120,"wires":[[]]},{"id":"99680e74.f3e1f","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Przelaczniki","server":"febbba89.b8db68","version":1,"entityidfilter":"group.all_switches","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":380,"wires":[["80ecf9ee.e1ab28"],[]]},{"id":"80ecf9ee.e1ab28","type":"api-current-state","z":"91bc7223.0d8cf","name":"Alarm poza domem","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":360,"wires":[["a5a6d378.9ea93"],[]]},{"id":"a5a6d378.9ea93","type":"api-call-service","z":"91bc7223.0d8cf","name":"Wylacz urzadzenia elektryczne","server":"febbba89.b8db68","version":1,"service_domain":"switch","service":"turn_off","entityId":"group.all_switches","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":340,"wires":[[]]},{"id":"5dfe40f2.0af39","type":"api-call-service","z":"312b7dc1.f43f12","name":"Wlacz swiatlo","server":"febbba89.b8db68","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":40,"wires":[[]]},{"id":"1f2a5bcf.c63e94","type":"api-call-service","z":"312b7dc1.f43f12","name":"Wylacz swiatlo","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":100,"wires":[[]]},{"id":"d7aea92b.1d7848","type":"server-state-changed","z":"312b7dc1.f43f12","name":"Przedpokoj swiatlo","server":"febbba89.b8db68","version":1,"entityidfilter":"binary_sensor.fibaro_system_fgms001_zw5_motion_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":100,"wires":[[],[]]},{"id":"e7d1405e.c3dc5","type":"time-range-switch","z":"312b7dc1.f43f12","name":"Noc","lat":"50.41","lon":"7.44","startTime":"sunset","endTime":"sunrise","startOffset":"-60","endOffset":"60","x":330,"y":80,"wires":[["1c2a0059.8fb85"],[]]},{"id":"1c2a0059.8fb85","type":"api-current-state","z":"312b7dc1.f43f12","name":"Is off?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":60,"wires":[["5dfe40f2.0af39"],[]]},{"id":"614ce536.0e64ac","type":"api-current-state","z":"312b7dc1.f43f12","name":"Is on?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":120,"wires":[["1f2a5bcf.c63e94"],[]]},{"id":"e39d5f3e.136c9","type":"server-state-changed","z":"312b7dc1.f43f12","name":"Papryczka Chilli","server":"febbba89.b8db68","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.xiaomi_miflora_moisture","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"25","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":140,"y":220,"wires":[[],[]]},{"id":"d47cdaad.85c708","type":"api-call-service","z":"312b7dc1.f43f12","name":"Krzysiek","server":"febbba89.b8db68","version":"1","service_domain":"notify","service":"krzysiek","entityId":"","data":"{\"message\": \"Podlej mnie;)\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":200,"wires":[[]]},{"id":"881039fc.36df78","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Poza domem","server":"febbba89.b8db68","version":1,"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":300,"wires":[["da0bebcd.98fb38"],[]]},{"id":"e6112c8d.732cc","type":"time-range-switch","z":"91bc7223.0d8cf","name":"Noc","lat":"50.41","lon":"7.44","startTime":"21:30","endTime":"6:30","startOffset":"0","endOffset":"0","x":290,"y":500,"wires":[["5409349e.33df3c"],["5ff2928.d75486c"]]},{"id":"dad3b170.8fdfc","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Sypialnia","server":"febbba89.b8db68","version":1,"entityidfilter":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":460,"wires":[["8df3bf9c.69c83"],["e6112c8d.732cc"]]},{"id":"5409349e.33df3c","type":"api-call-service","z":"91bc7223.0d8cf","name":"Ustaw Alarm","server":"febbba89.b8db68","version":1,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.home_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":480,"wires":[[]]},{"id":"5ebf8c5e.053ef4","type":"api-call-service","z":"91bc7223.0d8cf","name":"Rozbroj Alarm","server":"febbba89.b8db68","version":"1","service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.home_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":420,"wires":[[]]},{"id":"8df3bf9c.69c83","type":"api-current-state","z":"91bc7223.0d8cf","name":"Alarm w domu?","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":440,"wires":[["5ebf8c5e.053ef4"],[]]},{"id":"a15bb37.530a15","type":"server-state-changed","z":"91bc7223.0d8cf","name":"Lazeinka","server":"febbba89.b8db68","version":1,"entityidfilter":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":600,"wires":[["e7abcc53.a888d"],[]]},{"id":"e7abcc53.a888d","type":"api-current-state","z":"91bc7223.0d8cf","name":"Alarm w domu","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":580,"wires":[["51900d79.0a89e4"],[]]},{"id":"51900d79.0a89e4","type":"api-call-service","z":"91bc7223.0d8cf","name":"Wylacz lazienke","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_1_channel_switch_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":560,"wires":[[]]},{"id":"90fa97c0.b3d6e8","type":"server-state-changed","z":"2b528a50.a3c836","name":"Klimatyzator","server":"febbba89.b8db68","version":1,"entityidfilter":"climate.kuchnia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"cool","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":80,"wires":[["4e97330c.80818c"],["91b4b2a0.213e3"]]},{"id":"4e97330c.80818c","type":"api-call-service","z":"2b528a50.a3c836","name":"Wiatrak ON","server":"febbba89.b8db68","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.fan_switch\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":60,"wires":[[]]},{"id":"91b4b2a0.213e3","type":"api-call-service","z":"2b528a50.a3c836","name":"Wiatrak OFF","server":"febbba89.b8db68","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.fan_switch\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":100,"wires":[[]]},{"id":"b01671ac.cc685","type":"bigtimer","z":"2b528a50.a3c836","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"","lat":"50.416575","lon":" 7.445882","starttime":"300","endtime":"1320","starttime2":0,"endtime2":0,"startoff":0,"endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":140,"y":200,"wires":[["ea2865fe.69cfc8"],[],[]]},{"id":"a517e2e6.c477a","type":"api-call-service","z":"2b528a50.a3c836","name":"Dzien","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.danfoss_devolo_home_control_radiator_thermostat_heating_1","data":"{\"temperature\": 22}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":160,"wires":[[]]},{"id":"ea2865fe.69cfc8","type":"switch","z":"2b528a50.a3c836","name":"Dzien czy Noc?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["a517e2e6.c477a"],["e5a7883.bd55f78"]]},{"id":"e5a7883.bd55f78","type":"api-call-service","z":"2b528a50.a3c836","name":"Noc","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.danfoss_devolo_home_control_radiator_thermostat_heating_1","data":"{\"temperature\": 18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":200,"wires":[[]]},{"id":"5ff2928.d75486c","type":"api-call-service","z":"91bc7223.0d8cf","name":"Rozbroj Alarm","server":"febbba89.b8db68","version":"1","service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.home_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":520,"wires":[[]]},{"id":"45d08b31.6174d4","type":"api-call-service","z":"91bc7223.0d8cf","name":"Rozbroj Alarm","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.home_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":660,"wires":[[]]},{"id":"189161a.232169e","type":"inject","z":"91bc7223.0d8cf","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["823051f.53b32b"]]},{"id":"823051f.53b32b","type":"api-current-state","z":"91bc7223.0d8cf","name":"Alarm w domu","server":"febbba89.b8db68","version":1,"outputs":2,"halt_if":"armed_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.home_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":680,"wires":[["45d08b31.6174d4"],[]]},{"id":"9a45cb99.cecf08","type":"server-state-changed","z":"2b528a50.a3c836","name":"Sypialnia okno","server":"febbba89.b8db68","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sypialnia_window_sensor_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":300,"wires":[["ae234152.e38"],["a6ea0cc0.66601"]]},{"id":"ae234152.e38","type":"api-call-service","z":"2b528a50.a3c836","name":"Ogrzeanie OFF","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.danfoss_devolo_home_control_radiator_thermostat_heating_1","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":280,"wires":[[]]},{"id":"478ef8ad.0b08b8","type":"api-call-service","z":"2b528a50.a3c836","name":"Ogrzeanie ON","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.danfoss_devolo_home_control_radiator_thermostat_heating_1","data":"{\"temperature\": 22}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":320,"wires":[[]]},{"id":"a6ea0cc0.66601","type":"delay","z":"2b528a50.a3c836","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":320,"wires":[["478ef8ad.0b08b8"]]},{"id":"3484a047.dd65","type":"inject","z":"312b7dc1.f43f12","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["f77d463c.a7c778"]]},{"id":"f77d463c.a7c778","type":"api-call-service","z":"312b7dc1.f43f12","name":"Test","server":"febbba89.b8db68","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_srokak","entityId":"","data":"{\"message\":\"Ktos jest w domu!!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":440,"wires":[[]]},{"id":"1bcbaaec.5747a5","type":"inject","z":"312b7dc1.f43f12","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["e7cbdf31.4aa85"]]},{"id":"e7cbdf31.4aa85","type":"api-call-service","z":"312b7dc1.f43f12","name":"Krzysiek","server":"febbba89.b8db68","version":"1","debugenabled":false,"service_domain":"notify","service":"krzysiek","entityId":"","data":"{\"message\": \"Uwaga ktos jest w domu!!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":500,"wires":[[]]}]